html{
  background-color: #141414;
  color: #fff;
  padding: 0px;
  margin: 0px;
}

.cardBackground {
  background-color: #1f1f1f;
}

.neon {
  color: #c4f82a;
}

.linkBackground {
  background-color: #333333;
}

.container {
  height: 98vh;
  width: 98vw;
  overflow: hidden;
}

.link{
  color:'#fff';
  text-decoration:none;
  font-weight: 600;
}

.linkBackground:hover{
  background-color: #c4f82a;
}